<div class="container">
    <div class="row">
        <div class="col-6 align-self-center">
            <h1>Réinitialiser mot de passe</h1>
            <form>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" #passwordResetEmail required>
                <div id="emailHelp" class="form-text">Renseignez votre mail pour réinitialiser mot de passe </div>
            </div>
            <button type="button" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">Réinitialiser</button>
            </form>
            <div class="mb-3">
                <span>J'ai déjà un compte?<span class="link-primary" routerLink="/sign-in"> Se connecter</span></span>
            </div>
        </div>
    </div>
</div>