<app-nav></app-nav>
<!-- Sidebar navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary rounded m-1 text-light" *ngFor="let product of monPanier ">
      <h5>{{ product.nom }} <span class="float-right">prix :{{ product.prix }}€</span></h5>
    </div>
    <div class="col-md-12" *ngIf="!vide()">
      <button type="button" class="btn btn-primary float-right" (click)="acheter()">Acheter</button>
    </div>
    <div class="col-md-12" *ngIf="vide()">
      <p>Aucun produit dans votre panier</p>
    </div>
  </div>
</div>