<app-nav></app-nav>
<!-- Sidebar navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="labelNom">Nom du produit</label>
          <input type="text" class="form-control" id="labelNom" placeholder="Ex: Pomme" #labelNom required>
        </div>
        <div class="form-group">
          <label for="labelPoids">Poids en kg</label>
          <input type="text" class="form-control" id="labelPoids" placeholder="Ex: 4 pour 4kg, 0.4 pour 400g" #labelPoids required>
        </div>
        <div class="form-group">
          <label for="labelPrix">Prix</label>
          <input type="text" class="form-control" id="labelPrix" placeholder="Ex: 4.58 pour 4 euros et 58 cents" #labelPrix required>
        </div>
        <div class="form-group">
          <label for="textareaDescription">Description</label>
          <textarea class="form-control" id="textareaDescription" rows="3" placeholder="Ex: Magnifique pomme verte." #textareaDescription required></textarea>
        </div>
        <button type="button" class="btn btn-primary" (click)="SetProductData(textareaDescription.value,labelNom.value,labelPoids.value,labelPrix.value)">Vendre</button>
      </form>
    </div>
    
  </div>
</div>