<div class="container">
    <div class="row">
      <div class="col">
        <h1>Bonjour,</h1>
        <h1>MarketPlace802</h1>
      </div>
      <div class="col">
        <h1>Se connecter</h1>
        <form [formGroup]="SignInForm" (ngSubmit)="onSignIn()">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="inputEmail" id="inputEmail">
            <!--aria-describedby="emailHelp"-->
            <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" formControlName="inputPassword" id="inputPassword">
          </div>
          <div class="mb-3">
            <span class="link-primary" routerLink="/forgot-password">Mot de passe oublié?</span>
          </div>
          <!--<div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check">
          <label class="form-check-label" for="check">Rester connecter</label>
        </div>-->
          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <div class="mb-3">
            <span>Je n'ai pas de compte?<span class="link-primary" routerLink="/register-user">S'inscrire</span></span>
        </div>
      </div>
    </div>
  </div>
  