<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" routerLink="/acheter-produit">
    <img src="../../../assets/marketplace.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
    MarketPlace802
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="collapse navbar-collapse navbar-nav" id="navbarNavAltMarkup">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/acheter-produit">Acheter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/vendre-produit">Vendre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/mon-panier">Mon Panier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Mes Donnes</a>
      </li>
     </ul>
     <ul class="collapse navbar-collapse navbar-nav justify-content-end" id="navbarNavAltMarkup">
      <li class="nav-item">
        <button class="btn btn-danger" (click)="authService.SignOut()" type="button">Se deconnecter</button>
      </li>
    </ul>
</nav>
<!-- Sidebar navigation -->
<div class="container">
  <div class="row">
    <div class="col-md-12 bg-secondary rounded m-1 text-light" *ngFor="let product of productList ">
      <h5>{{ product.nom }} <span class="float-right"><button type="button" class="btn btn-primary" (click)="ajouterPanier(product)">Ajouter</button></span></h5>
      <p>{{ product.description }} <span class="float-right">prix :{{ product.prix }}€</span></p>
    </div>
  </div>
</div>
